# Ignore environment variables
.env

# Ignore Node.js dependencies
node_modules/

# Ignore compiled TypeScript files
dist/

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore IDE/editor config files
.vscode/
.idea/
.DS_Store
src/controllers/temp.txt
src/models/temp.txt
src/models/temp2.txt
src/models/temp3.txt
src/controllers/temp2.txt